body {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.screen {
	min-height: 100vh;
}

.s1 {padding-top: 12vh}

.phone {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 76vh
}

.bacround {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    animation-name: pal;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.pal {
	max-height: 130px;
	width: 100%;
	height: 35%;
	border-radius: 360px;
}
.pal-01 {
	transform: rotate(20deg);
	background: linear-gradient(270deg, #2E6CE5, #4D89FF);
}
.pal-02 {
	transform: rotate(-10deg);
	background: linear-gradient(270deg, #FFB54D, #FF9500);
}

@keyframes pal {
	0% {gap: 40%}
	25% {gap: 30%}
	50% {gap: 20%}
	75% {gap: 15%}
	100% {gap: 40%}
}

.bac__phone {
	height: 90%;
	width: 80%;
	background-color: #00041A;
	box-shadow: 12px 12px 28px rgba(1, 5, 25, 0.15);
	border-radius: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.cont__phone {
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.block {
	height: 20%;
	width: 80%;
	background-color: white;
	border-radius: 6px;
	box-shadow: 8px 8px 16px rgba(1, 5, 25, 0.1);
}

.box_block {
	height: 35%;
	width: 80%;
	gap: 6%;
	display: flex;
}

.b1 {
	background-color: #CCCCCC;
	height: 4%;
}
.b2 {
	height: 40%;
	width: 110%;
	max-width: 66vh;
	margin-right: 30%;

	animation-name: ani_b2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.b3 {
	height: 140%;

	animation-name: ani_b3;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.b4 {
	height: 100%;

	animation-name: ani_b4;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes ani_b2 {
	0% {width: 110%;
		margin-right: 30%;
		background-color: #FFFFFF;
	}
	25% {width: 80%;
		margin-right: 0%;
		background-color: #FFFFFF;
	}
	50% {width: 90%;
		margin-right: 10%;
		background-color: #FFFFFF;
	}
	75% {width: 120%;
		margin-right: 40%;
		background-color: #FFFFFF;
	}
	100% {width: 110%;
		margin-right: 30%;
		background-color: #FFFFFF;
	}
}

@keyframes ani_b3 {
	0% {
		background-color: #FFFFFF;
		height: 140%;
	}
	25% {
		background-color: #FFFFFF;
		height: 160%;
	}
	50% {
		background-color: #CCCCCC;
		height: 80%;
	}
	75% {
		background-color: #CCCCCC;
		height: 100%;
	}
	100% {
		background-color: #FFFFFF;
		height: 140%;
	}
}

@keyframes ani_b4 {
	0% {
		background-color: #CCCCCC;
		height: 100%;
	}
	25% {
		background-color: #CCCCCC;
		height: 80%;
		margin-bottom: 20%;
	}
	50% {
		background-color: #FFFFFF;
		height: 120%;
	}
	75% {
		background-color: #FFFFFF;
		height: 100%;
	}
	100% {
		background-color: #CCCCCC;
		height: 100%;
	}
}

.text__m-b {
	font-family: 'Poppins', sans-serif;
	font-size: 56px;
	line-height: 102.5%;
	margin-top: 20%;
	margin-bottom: 10px;
}

.text__m-s {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #666666;
	margin: 0px;
}

.button {
	height: 46px;
	min-width: 45%;
	max-width: 220px;
	border-radius: 12px;
	background-color: #00041A;
	box-shadow: 12px 12px 28px rgba(1, 5, 25, 0.1);
	margin-top: 25%;
	transition-duration: 240ms;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

.button:hover {
	box-shadow: 16px 16px 32px rgba(1, 5, 25, 0.15);
	transform: translateY(-6px);
}


/*Sreen 2*/

.text__b {
	margin-top: 6.6vh;
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	line-height: 102.5%;
}

.text__s {
	margin: 0px;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #666666;
	line-height: 135%;
	margin-bottom: 10vh;
}

.boxi {
	display: flex;
    flex-direction: column;
    padding: 2%;
}

.boxi_content {
	position: relative;
	min-height: 100%;
	width: 100%;
	border-radius: 16px;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4%;
    background-color: red;
    gap: 20px;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
    transition-duration: 450ms;
}

.boxi_content:hover {
	transform: translateY(-14px);
	box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.15);
}

.bi1 {
	background: linear-gradient(300deg, #000000, #333333);
}

.bi2 {
	background-color: #2265E5;
}

.bi3 {
	background-color: #5639E5;
}

.text__box-b {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	line-height: 102.5%;
	color: #E6E6E6;
	margin: 0px;
	z-index: 1;
}

.text_box-s {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 135%;
	color: #B3B3B3;
	margin: 0px;
	z-index: 1;
}

.price {
	padding: 8px;
	max-width: 40%;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-align: center;
	line-height: 102.5%;
	font-weight: 500;
	margin: 0px;
	z-index: 1;
}

.grey {
	background-color: #333333;
	color: #999999;
}

.blue {
	background-color: #FFFFFF;
	color: #2265E5;
}

.piople {
	background-color: #FFFFFF;
	color: #5639E5;
}

.order {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 102.5%;
	color: #E6E6E6;
	margin: 0px;
	margin-top: 26%;
	padding-bottom: 6px;
	max-width: 24%;
	border-bottom: #E6E6E6 1px solid;
	z-index: 1;
	text-decoration: none;
	transition-duration: 300ms;
}

.order:hover {
	max-width: 36%;
}

.bac_box_1 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	border-radius: 16px;
	z-index: 0;
}

.bb_3 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70%;
	height: 40%;
	background-color: #2E6CE5;
	border-radius: 16px 0px 16px 0px;
	z-index: -1;
}

.bb_2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 30%;
	background-color: #3D7AF2;
	border-radius: 16px 0px 16px 0px;
	z-index: 0;
}

.bb_1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 35%;
	height: 20%;
	background-color: #4D89FF;
	border-radius: 16px 0px 16px 0px;
	z-index: 1;
}

.c_1 {
	position: absolute;
	top: 6%;
	right: 8%;
	height: 10vh;
	width: 10vh;
	border-radius: 100%;
	background-color: #8066FF;
}

.c_2 {
	position: absolute;
	top: 4%;
	left: 12%;
	height: 14vh;
	width: 14vh;
	border-radius: 100%;
	background-color: #8066FF;
}

.c_3 {
	position: absolute;
	top: 54%;
	right: 16%;
	height: 10vh;
	width: 10vh;
	border-radius: 100%;
	background-color: #6549F2;
}

.c_4 {
	position: absolute;
	bottom: 10%;
	left: 30%;
	height: 8vh;
	width: 8vh;
	border-radius: 100%;
	background-color: #6549F2;
}


/*Screen 3*/

.button_port {
	height: 10vh;
	width: 100%;
	font-size: 22px;
	letter-spacing: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(300deg, #4D89FF, #2265E5);
	border-radius: 12px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	margin-bottom: 20px;
	transition-duration: 400ms;
}

.button_port:hover {
	height: 12vh;
}

.text__port-b {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 28px;
	width: 100%;
}

.text__port-s {
	margin: 0px;
	font-size: 12px;
	width: 80%;
	margin-bottom: 20px;
}

.port-end {
	border-radius: 360px;
	background: linear-gradient(300deg, #4D89FF, #2265E5);
	width: 100%;
	height: 10px;
}

.bp2 {
	background: linear-gradient(300deg, #FF6433, #CC3100);
}

.bp3 {
	background: linear-gradient(300deg, #000000, #4D4D4D);
}

/*Screen 4*/

.about_box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.box_about_cont {
	background-color: #00041A;
	box-shadow: 12px 12px 28px rgba(1, 5, 25, 0.15);
	width: 60%;
	height: 45vh;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.text__about-s {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	margin: 0px;
}

.but_about_flex {
	width: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16%;
}

.links {
	height: 74px;
	width: 74px;
	border-radius: 9px;
	background-color: rgba(77, 137, 255, 0.1);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
	transition-duration: 400ms;
	border: rgba(77, 137, 255, 0.4) 2px solid;
	display: flex;
}

.links:hover {
	background-size: 70%;
	background-color: rgba(77, 137, 255, 0.3);
	border: #4D89FF 2px solid;
}

.l1 {background-image: url("img/logo 01.svg");}
.l2 {background-image: url("img/logo 02.svg");}
.l3 {background-image: url("img/logo 03.svg");}
.l4 {background-image: url("img/logo 04.svg");}

.my-form {
	gap: 8%;
    display: flex;
    height: 60vh;
    flex-direction: column;
}

.pal2 {
	position: absolute;
	max-height: 130px;
	width: 60%;
	height: 35%;
	border-radius: 360px;
	background-color: red;
	z-index: -1;
}

.pal2-1 {
	background: linear-gradient(270deg, #4D89FF, #2E6CE5);
	transform: rotate(-30deg);
	bottom: 0;
	right: 0;
	width: 50%;
	animation-name: ani_pal2-1;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.pal2-2 {
	background: linear-gradient(270deg, #FFB54D, #FF9500);
	transform: rotate(-40deg);
	top: 20;
	right: 50;
	width: 70%;
	animation-name: ani_pal2-2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.pal2-3 {
	background: linear-gradient(270deg, #5639E5, #5865F2);
	transform: rotate(30deg);
	bottom: 50;
	left: 0;
	width: 40%;
	animation-name: ani_pal2-3;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

@keyframes ani_pal2-1 {
	0% {
		bottom: 20%;
	}
	50% {
		bottom: 0%;
	}
	100% {
		bottom: 20%;
	}
}

@keyframes ani_pal2-2 {
	0% {
		top: 20%;
	}
	50% {
		top: 30%;
	}
	100% {
		top: 20%;
	}
}

@keyframes ani_pal2-3 {
	0% {
		bottom: 50%;
	}
	50% {
		bottom: 10%;
	}
	100% {
		bottom: 50%;
	}
}

/*footer*/

.footer {
	min-height: 20vh;
	border-top: black 1px solid;
}

.foot_cont {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.text__footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: black;
	text-decoration: none;
	border-bottom: rgba(77, 137, 255, 0.2) 2px solid;
	width: fit-content;
	transition-duration: 150ms;
}

.text__footer:hover {
	border-bottom: rgba(77, 137, 255, 1.0) 2px solid;
}



@media (max-width: 425px) {
	.s1 {padding-top: 0px}
	.button {margin-bottom: 10vh}
	.b2 {animation-name: none; margin: 0px; width: 80%}
	.pal-01 {width: 90%}
	.pal-02 {width: 90%}
	.bac__phone {width: 90%; height: 75%}
	@keyframes ani_b3 {
		0% {
			background-color: #FFFFFF;
			height: 120%;
		}
		25% {
			background-color: #FFFFFF;
			height: 130%;
		}
		50% {
			background-color: #CCCCCC;
			height: 80%;
		}
		75% {
			background-color: #CCCCCC;
			height: 100%;
		}
		100% {
			background-color: #FFFFFF;
			height: 120%;
		}
	}
	@keyframes ani_b4 {
		0% {
			background-color: #CCCCCC;
			height: 100%;
		}
		25% {
			background-color: #CCCCCC;
			height: 80%;
			margin-bottom: 20%;
		}
		50% {
			background-color: #FFFFFF;
			height: 110%;
		}
		75% {
			background-color: #FFFFFF;
			height: 100%;
		}
		100% {
			background-color: #CCCCCC;
			height: 100%;
		}
	}

	.boxi {margin-bottom: 4vh}
}

@media (max-width: 768px) {
	.button {margin-bottom: 16vh}
}