@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap');

body, html {
    color: white;
    overflow-x: hidden;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    animation: none;
}

body {
    background-color: var(--black);
}

* {
    margin: 0;
    animation: pop 1s linear;
}

@keyframes pop {
    0% {
        transform: scale(0.6);
        opacity: 0%;
    }
    50% {
        transform: scale(1.07);
        opacity: 60%;
    }
    100% {
        transform: scale(1.0);
        opacity: 100%;
    }
}

.container {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 26px;
    gap: 24px;
    z-index: 1;
    background-color: var(--black);
    max-width: 500px;
    animation: none;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    /* Text */
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    /* Button */
    display: flex;
    align-items: flex-end;
    background: none;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
}

.skeleton-but:hover, 
.text-box button:hover,
button.awards-box:hover {
    cursor: pointer;
}

.arrow {
    fill: rgba(255, 255, 255, 0.6);
}

.skeleton-but {
    animation: none;
}

.none-opacity {
    opacity: 1;
    padding: 0;
}

.skeleton-click {
    animation-name: click;
    animation-duration: 200ms;
}

@keyframes click {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.skeleton-but:active {
    -webkit-tap-highlight-color: transparent; /* Для Safari и Android */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Убираем подсветку на устройствах с Android */
}  

.skeleton-but::selection {
    background: none;
}

h1 {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.more {
    display: none;
    z-index: 2;
    justify-content: flex-start;
}

.awards {
    justify-content: center;
}

.awards-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 12px;
    padding: 16px 20px;
}

.awards-title {
    font-size: 22px;
    font-weight: 600;
}

.awards-num {
    font-size: 40px;
    font-weight: 700;
}

.center {text-align: center; justify-content: center;}

.yellow {
    background-color: #4D0F08;
    color: #E56A5C;
}

.gray {
    background-color: #272B33;
    color: #5A6375;
}

.green {
    background-color: #0A660A;
    color: #59B247;
}