/* Container */
.container {
    height: 100%;
    max-width: 1920px;
    width: 100%;
    padding: 0px 160px;
    margin: auto;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px !important;
}

.header-block-1 {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-block-1 * {
    width: max-content;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* Footer */
footer {
    max-width: none !important;
    background-color: var(--black);
    display: flex;
    gap: 120px;
    padding: 0 max(calc((100% - 1920px) / 2 + 160px), 160px) !important;
}

.block-footer-1 {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
}

/* Content */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}

.content-block-1 {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.content-block-2 {
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Text Block */
.text-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Utility Classes */
.max-50 {
    max-width: 50%;
}
.one-screen {
    min-height: calc(100vh - 60px - (42px + 20px));
}
.nowrap {
    flex-wrap: nowrap;
}

/* Big Block */
.big-block {
    position: relative;
    min-height: 320px;
    width: 260px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 22px 26px;
    background-repeat: no-repeat;
    background-position: 100% 170%;
    transition-duration: 400ms;
    overflow: hidden;
}
.big-block::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: none;
    border-radius: 28px;
    border: 4px solid var(--white-gray);
    z-index: -2;
}
.big-block::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border-radius: 28px;
    z-index: -1;
    transition-duration: 300ms;
}
.big-block:hover::before {
    top: 0;
}
.big-block:hover {
    color: white;
    background-position: 100% 110%;
}
.b01 {
    background-image: url("../img/01.svg");
}
.b02 {
    background-image: url("../img/02.svg");
}
.b03 {
    background-image: url("../img/03.svg");
}

/* Block Work */
.block-work {
    height: 250px;
    aspect-ratio: 1;
    border-radius: 36px;
    padding: 22px 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    word-break: break-word;
    transition: color 400ms;
}
.block-work::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: none;
    border-radius: 36px;
    border: 4px solid var(--white-gray);
    z-index: -2;
    transition: 400ms;
}
.block-work::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    scale: 0.6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 36px;
    z-index: -1;
    transition-duration: 400ms;
}
.block-work:hover::before {
    scale: 1;
    top: 0;
}
.block-work:hover::after {
    scale: 0.6;
    top: 10%;
}
.block-work:hover {
    color: white;
}

.block-work__black:hover {
    color: black;
}

/* block-serv */
.block-serv {
    width: calc(50% - 20px);
    border-radius: 36px;
    padding: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
    word-break: break-word;
    background-color: var(--white-gray);
}

.block-serv__mini {
    width: 100%;
    background-color: white;
    border-radius: 24px;
    flex-direction: row;
}

/* Media Queries */
@media (max-width: 1024px) {
    .block-work {
        height: 200px;
    }
    .content-block-2 {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
    footer {
        padding: 0 max(calc((100% - 1920px) / 2 + 80px), 40px) !important;
    }
    .header-block-1 {
        width: 90%;
        justify-content: space-between;
    }
    footer {
        justify-content: space-between;
        gap: 0px;
    }
    .container {
        padding: 0px 40px;
    }
    .block-serv {
        width: 100%;
    }
}

@media (max-width: 425px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .header-block-1 {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .block-footer-1 {
        padding: 20px 0;
    }
    .max-50 {
        max-width: 100%;
    }
    .content-block-1 {
        gap: 20px;
    }
    .content-block-2 {
        justify-content: center;
        gap: 14px;
    }
    .container {
        padding: 0px 14px;
    }
    .big-block {
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-height: 140px;
        background-position-y: 600%;
    }
    .big-block::after {
        background-color: var(--white-gray);
    }
    .logo {
        width: fit-content;
    }
    .static {
        background-position: 100% 110%;
    }
    .block-work {
        width: 100%;
        aspect-ratio: none;
    }
    .block-serv {
        gap: 12px;
    }
    .content-block-2 {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .button {
        padding: 12px 24px;
    }
    .column {
        flex-direction: column;
    }
    .flex-center {
        align-items: center;
    }
    .nowrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0px 40px;
    }
}