/* Logo Icon */
.logo-icon {
    height: 35px;
}

/* Img */
.photo {
    height: 200px;
    /* box-shadow: 12px 12px 20px 0px rgba(152, 72, 62, 0.10); */
}

.img-1 {
    width: calc(50% - 20px);
    height: 280px;
    border-radius: 36px;
    object-fit: contain;
}

/* Icon */
.icon {
    height: 60px;
    width: 60px;
    transition: filter 0.3s;
}
.big-block:hover .icon {
    filter: brightness(0) invert(1);
}
.static .icon {
    filter: brightness(0) invert(1);
}

.icon-green {
    fill: #96A1B2;
    animation-name: icon-blue-spawn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    
}
.block-serv .block-serv__mini:nth-child(3) .icon-green {
    animation-delay: 0.6s;
}
.block-serv .block-serv__mini:nth-child(4) .icon-green {
    animation-delay: 0.9s;
}
.block-serv .block-serv__mini:nth-child(5) .icon-green {
    animation-name: icon-green-spawn;
    animation-delay: 1.2s;
}

@keyframes icon-green-spawn {
    0% {
        scale: 1;
        rotate: 0;
    }
    25% {
        scale: 0.8;
        rotate: 35deg;
    }
    50% {
        scale: 1.1;
        rotate: -20deg;
        fill: #52B22E;
    }
    100% {
        scale: 1;
        rotate: 0;
        fill: #52B22E;
    }
}

@keyframes icon-blue-spawn {
    0% {
        scale: 1;
        rotate: 0;
    }
    25% {
        scale: 0.8;
        rotate: 35deg;
    }
    50% {
        scale: 1.1;
        rotate: -20deg;
        fill: #1D85E5;
    }
    100% {
        scale: 1;
        rotate: 0;
        fill: #1D85E5;
    }
}

/* Arrow */
.arrow {
    height: 35px;
}

/* Button */
.button {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 100px;
    padding: 14px 32px;
    color: var(--white-gray);
}

.button.block-serv__mini {
    min-height: 64px;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms;
    background-color: var(--black);
}
.button.block-serv__mini:active {
    background-color: #223D18;
}

.completed-menu {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #223D18;
    border-radius: 24px;
    animation-name: spawn-bcm;
    animation-duration: 3200ms;
    z-index: 3;
}
.completed-menu * {
    animation-name: spawn-bcm;
    animation-duration: 3200ms;
    z-index: 3;
}

@keyframes spawn-bcm {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Background Images */
.back-1::before {
    background-image: url("/static/style/img/img01.svg");
}
.back-2::before {
    background-image: url("/static/style/img/img02.svg");
}
.back-3::before {
    background-image: url("/static/style/img/img03.svg");
}
.back-4::before {
    background-image: url("/static/style/img/img05.svg");
}
.back-5::before {
    background-image: url("/static/style/img/img06.svg");
}
.back-6::before {
    background-image: url("/static/style/img/img09.svg");
}
.back-github::before {
    background-image: url("/static/style/img/img04.png");
}
.back-7::before {
    background-image: url("/static/style/img/img07.svg");
}
.back-8::before {
    background-image: url("/static/style/img/img08.svg");
}
.back-11::before {
    background-image: url("/static/style/img/img11.svg");
}

/* Media Queries */
@media (max-width: 768px) {
    .photo {
        height: 160px;
    }
    .img-1 {
        height: 240px;
        width: 100%;
    }
}

@media (max-width: 426px) {
    .photo {
        height: 140px;
    }
    .arrow {
        height: 25px;
    }
}