/* Logo Icon */
.logo-icon {
    height: 35px;
}

/* Photo */
.photo {
    border-radius: 36px;
    height: 200px;
    box-shadow: 12px 12px 20px 0px rgba(152, 72, 62, 0.10);
}

/* Icon */
.icon {
    height: 60px;
    width: 60px;
    transition: filter 0.3s;
}
.big-block:hover .icon {
    filter: brightness(0) invert(1);
}
.static .icon {
    filter: brightness(0) invert(1);
}

/* Arrow */
.arrow {
    height: 35px;
}

/* Button */
.button {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: var(--black);
    border-radius: 100px;
    padding: 14px 32px;
    color: var(--white-gray);
}

.completed-menu {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #223D18;
    border-radius: 24px;
    animation-name: spawn-bcm;
    animation-duration: 3200ms;
    z-index: 3;
}
.completed-menu * {
    animation-name: spawn-bcm;
    animation-duration: 3200ms;
    z-index: 3;
}

@keyframes spawn-bcm {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Background Images */
.back-1::before {
    background-image: url("/static/style/img/img01.svg");
}
.back-2::before {
    background-image: url("/static/style/img/img02.svg");
}
.back-3::before {
    background-image: url("/static/style/img/img03.svg");
}
.back-4::before {
    background-image: url("/static/style/img/img05.svg");
}
.back-5::before {
    background-image: url("/static/style/img/img06.svg");
}
.back-6::before {
    background-image: url("/static/style/img/img09.svg");
}
.back-github::before {
    background-image: url("/static/style/img/img04.png");
}
.back-7::before {
    background-image: url("/static/style/img/img07.svg");
}
.back-8::before {
    background-image: url("/static/style/img/img08.svg");
}
.back-11::before {
    background-image: url("/static/style/img/img11.svg");
}

/* Media Queries */
@media (max-width: 769px) {
    .photo {
        height: 160px;
    }
}

@media (max-width: 426px) {
    .photo {
        height: 140px;
    }
    .arrow {
        height: 25px;
    }
}