{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container h100">
    <div class="content">
        <div class="content-block-1 nowrap">
            <img src="{{ url_for('static', filename='style/img/icon 03.svg') }}" alt="icon design">
            <div class="text-block max-50">
                <h1>Дизайнерские работы</h1>
                <p>На этой странице вы можете ознакомиться с моими дизайнерскими работами. Презентации, дизайн web-сайтов. Надеюсь, вам понравится</p>
            </div>
        </div>
        <div class="content-block-2">
            <div class="block-work back-1">
                <p class="mini-text mark m1 white">More</p>
                <a class="block-work-link white" href="https://dribbble.com/Mars_Lucifer" target="_blank">
                    Работы на Dribbble
                    <img src="{{ url_for('static', filename='style/img/arrow.svg') }}" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-2">
                <p class="mini-text mark m2 white">Презентация</p>
                <a class="block-work-link block-work-link_white white" href="https://docs.google.com/presentation/d/1Z5W1RCUevsqUBaqan9gdIak8QFmsFiNWhKcn0hSMVGg/edit?usp=sharing" target="_blank">
                    Микросервисы
                    <img src="{{ url_for('static', filename='style/img/arrow.svg') }}" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-3">
                <p class="mini-text mark m2 white">Презентация</p>
                <a class="block-work-link white" href="https://docs.google.com/presentation/d/1UvNhf8GyqlgQIeqxUC6zOXVcXfV-I8kEaYesLg2HW24/edit?usp=sharing" target="_blank">
                    Коллатц
                    <img src="{{ url_for('static', filename='style/img/arrow.svg') }}" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-4">
                <p class="mini-text mark m3 white">Сайт</p>
                <a class="block-work-link block-work-link_white white" href="https://dribbble.com/shots/23594939-Aurora-Voice-Assistant" target="_blank">
                    Аврора
                    <img src="{{ url_for('static', filename='style/img/arrow.svg') }}" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-5">
                <p class="mini-text mark m3 white">Сайт</p>
                <a class="block-work-link block-work-link_white white" href="https://dribbble.com/shots/23620938-Mike" target="_blank">
                    Майк
                    <img src="{{ url_for('static', filename='style/img/arrow.svg') }}" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-6">
                <p class="mini-text mark m1 white">Прочее</p>
                <p class="block-work-link white mini-text">
                    Здесь мог бы быть дизайн для вас
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}