{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container h100">
    <div class="content">
        <div class="content-block-1 nowrap">
            <img src="/static/style/img/icon04.svg" alt="icon work">
            <div class="text-block max-50">
                <h1>Работы из разработки</h1>
                <p>На этой странице вы можете ознакомиться с моими работами связанные с кодом, например сайты. Здесь вы можете найти как мои проекты, так и работы на заказ</p>
            </div>
        </div>
        <div class="content-block-2">
            <div class="block-work back-github">
                <p class="mini-text mark m1 white">Прочее</p>
                <a class="block-work-link white" href="https://github.com/Mars-Lucifer" target="_blank">
                    Работы на GitHub
                    <img src="/static/style/img/arrow.svg" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-7">
                <p class="mini-text mark m3 white">Заказ</p>
                <a class="block-work-link white" href="https://www.energystart.ru/" target="_blank">
                    EnergyStart
                    <img src="/static/style/img/arrow.svg" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-8">
                <p class="mini-text mark m3 white">Заказ</p>
                <a class="block-work-link white" href="https://stalker-dusky.vercel.app/" target="_blank">
                    Stalker
                    <img src="/static/style/img/arrow.svg" alt="arrow" class="arrow">
                </a>
            </div>
            <div class="block-work back-6">
                <p class="mini-text mark m1 white">Прочее</p>
                <p class="block-work-link white mini-text">
                    Здесь могла быть работа для вас
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}