{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container one-screen">
    <div class="content">
        <div class="content-block-1 nowrap">
            <img src="/static/style/img/hu-tao.jpg" alt="Hu Tao" class="photo">
            <div class="text-block max-50">
                <h1>Дизайн это...</h1>
                <p>Когда пользователю норм. Но я могу сделать для вас, что-то лучшее чем норм, добавив "вау" и "прикольно"</p>
            </div>
        </div>
        <div class="content-block-1">
            <a class="big-block b01" href="/portfolio">
                <img src="/static/style/img/icon03.svg" alt="icon 1" class="icon">
                <div class="text-block">
                    <h4>Портфолио</h4>
                    <p class="mini-text">Здесь вы можете ознакомиться с моими работами</p>
                </div>
            </a>
            <a class="big-block b02" href="/services">
                <img src="/static/style/img/icon05.svg" alt="icon 2" class="icon">
                <div class="text-block">
                    <h4>Мои услуги</h4>
                    <p class="mini-text">Заинтересовались? Тогда посмотрим, что я могу для вас сделать! Вам понравится</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock body %}