{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container one-screen">
    <div class="content">
        <div class="content-block-1 nowrap">
            <img src="/static/style/img/razor.jpg" alt="razor" class="photo">
            <div class="text-block max-50">
                <h1>Сайты, дизайн и презентации на заказ</h1>
                <p>Привет! Я Luci, создаю сайты, дизайн и презентации по индивидуальным ценам. Год опыта, довольные клиенты. Давайте работать вместе!</p>
            </div>
        </div>
        <div class="content-block-1">
            <a class="big-block b01" href="/portfolio">
                <img src="/static/style/img/icon03.svg" alt="icon 1" class="icon">
                <div class="text-block">
                    <h4>Портфолио</h4>
                    <p class="mini-text">Здесь вы можете ознакомиться с моими работами</p>
                </div>
            </a>
            <a class="big-block b02" href="/services">
                <img src="/static/style/img/icon05.svg" alt="icon 2" class="icon">
                <div class="text-block">
                    <h4>Мои услуги</h4>
                    <p class="mini-text">У меня имеет две интересных услуги. По дизайну и не только</p>
                </div>
            </a>
            <a class="big-block b03" href="/referral">
                <img src="/static/style/img/icon04.svg" alt="icon 3" class="icon">
                <div class="text-block">
                    <h4>Реферальная программа</h4>
                    <p class="mini-text">Знаете того, кому нужно? Направьте его ко мне!</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock body %}