{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container one-screen">
    <div class="content">
        <div class="content-block-2">
            <a class="block-work back-1" href="https://dribbble.com/Mars_Lucifer" target="_blank">
                <h4>Dribbble</h4>
                <p>У меня есть Dribbble</p>
            </a>
            <a class="block-work back-11 block-work__black" href="https://system-kv.ru" target="_blank">
                <h4>Система КВ</h4>
                <p>Сайт для компании ООО "Система КВ"</p>
            </a>
            <a class="block-work back-7" href="https://energystart.ru" target="_blank">
                <h4>EnergyStart</h4>
                <p>Небольшой сайтик</p>
            </a>
            <a class="block-work back-4" href="https://dribbble.com/shots/23594939-Aurora-Voice-Assistant" target="_blank">
                <h4>Аврора</h4>
                <p>Красивый сайт для моего ассистента</p>
            </a>
            <a class="block-work back-2" href="https://docs.google.com/presentation/d/1Z5W1RCUevsqUBaqan9gdIak8QFmsFiNWhKcn0hSMVGg/edit?usp=sharing" target="_blank">
                <h4>Микросервисы</h4>
                <p>Презентация про микросервисную архитектуру</p>
            </a>
            <a class="block-work back-5" href="https://dribbble.com/shots/23620938-Mike" target="_blank">
                <h4>Майк</h4>
                <p>Дизайн сайта для 3D дизайнера</p>
            </a>
            <a class="block-work back-3" href="https://docs.google.com/presentation/d/1UvNhf8GyqlgQIeqxUC6zOXVcXfV-I8kEaYesLg2HW24/edit?usp=sharing" target="_blank">
                <h4>Коллатц</h4>
                <p>Презентация по теме "Послед.Коллатца"</p>
            </a>
            <a class="block-work back-6" href="https://t.me/Mars_Lucifer" target="_blank">
                <h4>Хм</h4>
                <p>Здесь мог быть ваш заказ</p>
            </a>
        </div>
    </div>
</div>
{% endblock body %}