{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container one-screen">
    <div class="content">
        <div class="content-block-1">
            <div class="block-serv">
                <h1>Дизайн</h1>
                <div class="text-block">
                    <h4 class="black-gray">Что входит</h4>
                    <ul>
                        <li><p>Создание дизайна сайтов</p></li>
                        <li><p>Презентаций</p></li>
                        <li><p>Приложений</p></li>
                    </ul>
                </div>
                <div class="text-block">
                    <h4 class="black-gray">Сроки и цены</h4>
                    <ul>
                        <li><p>Ср.цена: 10.000₽</p></li>
                        <li><p>Ср.сроки: 4 дней</p></li>
                    </ul>
                </div>
                <a href="https://t.me/Mars_Lucifer" class="button">Заказать</a>
            </div>
            <div class="block-serv">
                <h1>Сайт под ключ</h1>
                <div class="text-block">
                    <h4 class="black-gray">Что входит</h4>
                    <ul>
                        <li><p>Создание дизайна сайта</p></li>
                        <li><p>Разработка сайта</p></li>
                        <li><p>Подключение хостинга и доменного имени</p></li>
                    </ul>
                </div>
                <div class="text-block">
                    <h4 class="black-gray">Сроки и цены</h4>
                    <ul>
                        <li><p>Ср.цена: 16.000₽</p></li>
                        <li><p>Ср.сроки: 7 дней</p></li>
                    </ul>
                </div>
                <a href="https://t.me/Mars_Lucifer" class="button">Заказать</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}