{% extends 'base.html' %}

{% block title %}Mars Lucifer{% endblock %}

{% block body %}
<div class="container h100">
    <div class="content">
        <div class="content-block-1 nowrap">
            <img src="/static/style/img/icon05.svg" alt="icon services">
            <div class="text-block max-50">
                <h1>Мои крутые услуги!</h1>
                <p>Здесь вы найдете все услуги, которые я предоставляю. Цены и сроки выполнения указаны относительные, они индивидуальны для каждой работы. По вопросам, не стесняйтесь писать мне!</p>
            </div>
        </div>
        <div class="content-block-2">
            <a class="big-block b01 static" target="_blank" href="https://t.me/Mars_Lucifer">
                <img src="/static/style/img/icon03.svg" alt="icon 1" class="icon">
                <div class="text-block">
                    <h4>Создание дизайна</h4>
                    <p class="mini-text">Если вам нужна презентация, веб-дизайн, баннер или что-либо, связанное с дизайном, вы можете связаться со мной!</p>
                </div>
                <div class="text-block">
                    <p class="mini-text mark m3">За час: ~ 6$ (~500₽)</p>
                    <p class="mini-text mark m2">Время: ~ 1-8 часов</p>
                </div>
            </a>
            <a class="big-block b02 static" target="_blank" href="https://t.me/Mars_Lucifer">
                <img src="/static/style/img/icon04.svg" alt="icon 2" class="icon">
                <div class="text-block">
                    <h4>Разработка</h4>
                    <p class="mini-text">Вам нужно создать сайт? Позвольте это мне! У вас будет функциональный и красивый сайт</p>
                </div>
                <div class="text-block">
                    <p class="mini-text mark m3">За час: ~ 5$ (~500₽)</p>
                    <p class="mini-text mark m2">Время: ~ 4-12 часов</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock body %}