body, html {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    background-color: white;
}

* {
    box-sizing: border-box;
    animation-name: appearance;
    animation-duration: 1s;
}
*::selection {
    background: #4087FF46;
}

:root {
    --black: #14161A;
    --violet: rgba(112, 20, 204, 0.30);
    --blue: rgba(20, 88, 204, 0.30);
    --green: rgba(51, 204, 20, 0.30);
    --gray: rgba(20, 22, 26, 0.30);
}

@keyframes appearance {
    0% {
        transform: translateY(16px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}
