.logo-icon {
    height: 35px;
}

.photo {
    border-radius: 36px;
    height: 200px;
    box-shadow: 12px 12px 20px 0px rgba(152, 72, 62, 0.10);
}

.icon {
    height: 60px;
    width: 60px;
    transition: filter 0.3s;
}
.big-block:hover .icon {
    filter: brightness(0) invert(1);
}

.arrow {
    height: 35px;
}

/* Изображения с тенями */
.back-1 {
    background-image: url("/style/img/img 01.svg");
    box-shadow: 8px 8px 16px 0px rgba(236, 73, 138, 0.10);
}
.back-2 {
    background-image: url("/style/img/img 02.svg");
    box-shadow: 8px 8px 16px 0px rgba(111, 26, 85, 0.10);
}
.back-3 {
    background-image: url("/style/img/img 03.svg");
    box-shadow: 8px 8px 16px 0px rgba(255, 191, 61, 0.10);
}
.back-4 {
    background-image: url("/style/img/img 05.svg");
    box-shadow: 8px 8px 16px 0px rgba(11, 13, 18, 0.10);
}
.back-5 {
    background-image: url("/style/img/img 06.svg");
    box-shadow: 8px 8px 16px 0px rgba(11, 13, 18, 0.10);
}
.back-6 {
    background-image: url("/style/img/img 09.svg");
    box-shadow: 8px 8px 16px 0px rgba(104, 116, 226, 0.10);
}
.back-github {
    background-image: url("/style/img/img 04.png");
    box-shadow: 8px 8px 16px 0px rgba(11, 13, 18, 0.10);
}
.back-7 {
    background-image: url("/style/img/img 07.svg");
    box-shadow: 8px 8px 16px 0px rgba(127, 144, 159, 0.10);
}
.back-8 {
    background-image: url("/style/img/img 08.svg");
    box-shadow: 8px 8px 16px 0px rgba(121, 126, 124, 0.10);
}

@media (max-width: 768px) {
    .photo {
        height: 160px;
    }
}

@media (max-width: 425px) {
    .photo {
        height: 140px;
    }
}